:root{
  --main-bg-color: #ffffff;
  --main-color: #1e1e1e

}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*font-family:  'Montserrat Alternates', sans-serif; */
body {
  font-family: 'Roboto', sans-serif;
}
  
textarea:is(:focus, :valid) {
  border-color: #888;
}
textarea::-webkit-scrollbar {
   display: none;
 }
 

